body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.tcenter {
  text-align: center;
}

.font1 {
  font-family: "Roboto Mono", monospace;
}

.font2 {
  font-family: "Fjalla One", sans-serif;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

/*------------------------------Nav Bar---------------------------*/

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto Mono", monospace;
  color: white;
  z-index: 10;
}

.navbartext {
  justify-content: space-around;
}

.navbar h4 {
  padding-left: 30px;
}

.navbar h4:hover {
  text-decoration: underline;
  transition: 0.2s;
  cursor: pointer;
  color: #6b6dff;
}

.icon {
  margin-left: 20px;
  margin-top: 5px;
}

.navbar img {
  width: 30px;
  height: 30px;
  padding-top: 15px;
  filter: invert(90%) brightness(100%) contrast(100%);
  transition: 0.2s;
  display: none;
}

.responsive-nav {
  display: none;
  text-align: center;
}

.responsive-nav h4 {
  padding: 0;
}

.responsive-nav h4:first-child {
  margin-top: 0;
}

/*-------------------------------About Me------------------------------*/

.about {
  padding-top: 64px;
  align-items: center;
  background-color: #0f1922;
  color: #9f9982;
  font-family: "Roboto Mono", monospace;
}

.about h1 {
  color: #fffefa;
  font-family: "Fjalla One", sans-serif;
}

.about h3 {
  color: #6919ff;
}

.about img {
  width: 55%;
  height: auto;
}

.about div {
  padding-left: 40px;
  padding-right: 20px;
}

/*---------------------------Work------------------------------*/

.work {
  margin-top: 60px;
}

.work header h2 {
  color: blue;
}

.work main {
  position: relative;
  background-position: center;
  color: white;
  padding: 20% 150px 10px 150px;
  min-height: 400px;
  transition: transform 0.35s ease-in-out;
  overflow: hidden;
}

.work main p {
  width: 65%;
}

.work-link p:hover {
  text-decoration: underline;
  transition: 0.2s;
  color: #6b6dff;
}

.work-link p {
padding-right: 60px;
}

.work-link a:link {
  text-decoration: none;
}

.work main img {
  width: 20px;
  height: 20px;
  filter: invert(90%) brightness(100%) contrast(200%);
  position: absolute;
  top: 50%;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  transition: 0.2s;
}

.work main img:hover {
  background-color: rgba(255, 255, 255, 0.212);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

/*-------------------- Contact ----------------------------*/

.contact {
  position: relative;
  justify-content: space-around;
  background-color: #0f1922;
  margin-top: 100px;
  color: white;
  min-height: 500px;
  align-items: center;
}

.contact-text {
  width: 55%;
  padding: 0 100px 0 100px;
}

.contact h3 {
  color: #6919ff;
}

.form-msg {
  display: flex;
  flex-direction: column;
}

.email {
  margin-top: 40px;
}

.email img {
  margin-top: 16px;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  filter: invert(90%) brightness(100%) contrast(100%);
}

.contat-img img {
  width: 130px;
  height: 130px;
  filter: invert(90%) brightness(100%) contrast(100%);
  padding: 20px;
  transition: 0.3s;
}

.contat-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contat-img img:hover {
  filter: invert(60%);
  transition: 0.3s;
}

/*----------------------- Responzivity -----------------------*/

@media (max-width: 850px) {
  .about,
  .contact {
    flex-direction: column;
  }
  .about img,
  .contact-text,
  .work main p {
    width: 100%;
  }
  .contact {
    padding: 50px;
  }
  .contat-img {
    padding-top: 30px;
  }
  .contact-text{
    padding: 0;
  }
  .contat-img img {
    width: 110px;
    height: 110px;
  }
  .about div {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .work main {
    padding: 150px 100px 80px 100px;
  }
}
@media (max-width: 500px) {
  .contat-img img {
    width: 100px;
    height: 100px;
  }
  .navlink {
    display: none;
  }
  .navbar img {
    display: block;
  }
}
@media (max-width: 420px) {
  .contat-img img {
    width: 80px;
    height: 80px;
  }
  .contact-text {
    padding: 10px;
  }
  .work main {
    min-height: 500px;
    padding: 150px 70px 80px 70px;
  }
}
